@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

.profile-card-container {
    font-family: "Crimson Text", sans-serif;
    border: 5px solid rgb(197, 197, 197);
    border-radius: 1rem;
    width: 350px;
    margin: 4rem auto;
    overflow: hidden;

    .header {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &::before {
            content: "";
            background-color: rgba(165, 0, 0, 0.628);
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .content {
        text-align: center;
        top: -75px;
        position: relative;

        .avatar {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 0 auto;
        }

        h3 {
            margin: 0;
            font-size: 2.5rem;
        }

        h5 {
            margin: 0;
            font-size: 1.2rem;
            color: gray;
        }

        .stats {
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;

            h2 {
                font-size: 3rem;
                margin: 0;
                font-weight: 400;
            }

            span {
                color: gray;
            }
        }
    }
}
